*{
    color:white;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    
    background: linear-gradient(7.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
    height:100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
    overflow: hidden;
    
}
#head
{
    margin: 40px;
    text-align: center;
    font-weight: bold;
}
.turn-container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
    position: relative;
}

.turn-container h3{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.turn-container .turn-box{
    
    font-size: 1.6rem;
    font-weight: 700;
}

.turn-container .turn-box:nth-child(even){
    border-right: none;
}

.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff9100;
    z-index: -1;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    width: 250px;
    margin: 30px auto;
}

.box{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;

   border-radius: 10px;
   background-color: rgba(0, 0, 0, 0.202);
   margin: 1px;
   
}

.box:hover{
    background-color: #ff9100;
}

#play-again{
    background-color: #ff9100;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#play-again:hover{
    padding: 10px 40px;
    background-color: #3cd908;
    color: #ffffff;
}

.neon-red {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: #ff0000; 
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
    animation: flicker 1s infinite alternate;
  }

  .neon-blue{
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: #0000ff; 
    text-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff, 0 0 30px #0000ff;
    animation: flicker 1.5s infinite alternate;
  }

  @keyframes flicker {
    0% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }